/* primary color */
// text
$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

// gradient
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

/* neutral */
// text
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);

/* dividers */
$lightGrayishBlue: hsl(240, 5%, 91%);

/* font */
@font-face {
  font-family: "Kumbh Sans";
  src: url(./font/KumbhSans-VariableFont_wght.ttf);
}
@mixin font($fontWeight: 400, $fontSize: 12px) {
  font-family: "Kumbh Sans", sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

// styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  @include font;
  background: linear-gradient(to bottom, $softViolet, $softBlue);

  .container {
    background: white;
    border-radius: 1rem;
    margin: 10rem auto;
    width: 20.5rem;
    position: relative;

    /* illustration */
    &::before {
      display: block;
      content: url(images/bg-pattern-mobile.svg);
      text-align: center;
      margin-bottom: 1.5rem;
    }

    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -57%);
      content: url("images/illustration-woman-online-mobile.svg");
    }

    main.faqs {
      text-align: center;
      padding: 0 1.5rem 3rem;

      .faq {
        border-bottom: solid 2px $lightGrayishBlue;
        padding: 1rem 0rem;
        .question {
          display: block;
          text-decoration: none;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:hover {
            .title{
              color: $softRed;
            }
          }

          &:focus {
            & + .answer{
              display: block;
            }

            .title {
              @include font(700);
              color: $veryDarkGrayishBlue;
            }

            .arrow {
              transform: rotate(180deg);
            }
          }

          .title {
            // this style isnt put on .question
            // because we are using h2 for the title
            // there default h2 style will override the
            // one set in .question
            @include font(700);
            color: $darkGrayishBlue;
          }

          .arrow {
            margin-left: 2rem;
            transition: 0.3s;
          }
        }

        .answer {
          display: none;
          text-align: left;
          color: $darkGrayishBlue;
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  @keyframes updown {
    0% {top: 65%};
    50%{top: 40%};
  }

  body {
    display: grid;
    place-items: center;

    .container {
      width: 57.5rem;
      margin: 0;
      height: max-content;
      display: flex;

      /* Two equally wide columns */
      &::before,
      main.faqs {
        flex: 1;
      }

      &::before {
        content: "";
        margin-bottom: 0;
        background: url(images/illustration-woman-online-desktop.svg) no-repeat -75px
            center / 115%,
          url("../images/bg-pattern-desktop.svg") no-repeat -510px 65% / 225%;
      }

      &::after {
        content: url(images/illustration-box-desktop.svg);
        position: absolute;
        left: 0;
        top: 65%;
        animation-name: updown;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }

      main.faqs {
        padding: 4rem;
        h1 {
          text-align: left;
        }
      }
    }
  }
}
